@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

.content{
    background-color: rgba(67, 0, 252, 0.7);
    background-image:url("bg4.jpg");
    /* background-blend-mode: darken; */
    background-size: cover;
    height: 100vh;
}
.content input:hover
{
    box-shadow: 0px 2px 5px 5px rgba(8, 111, 230, 0.7);
}
.content input{
    background-color: black;
    color: rgb(255, 255, 255);
}

.text-center{
    text-align: center;
    padding: 7px;
    font-family: 'Ubuntu', sans-serif;
    color: chocolate;
    font-size: 5vw;
    padding-top:150px;
}

.form{
 min-width: 500px;
 margin: 25px auto;
 text-align: center;
 justify-content: center;
}
.form-input{



    width: 40%;
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 5px 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.btn{
width: 12vw;
height: 10vw;

    /* margin: 7px 3px ; */
    padding: 8px 20px;
    border-radius: 8px;
    border: 6px solid white;
    background-color: darkkhaki;
    font-size: 5vw;
    color: white;
    cursor: pointer;

}
.btn-sm{
    width: 12vw;
    height: 8vh;
    margin-top: 20px;
    vertical-align: middle;
    padding: 6px 10px;
    font-size: 2vw;
}

.btn-dark{
    width: 12vw;
    height: 8vh;
    color:rgb(255, 19, 19);
    border:2px solid black;
    font-family: cursive;
    font-weight: bolder;
    font-size: 2vw;

}
.background{
   background-color:rgba(0, 0, 0 ,0.7);
   background-blend-mode: darken;
   background-size: cover;



}

.text-footer{
    /* margin-top: 2px; */
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    font-size: 15px;
    color:rgb(17, 0, 255);
    display: flex;
    justify-content: center;


}
button:hover
{
    box-shadow: 0px 2px 5px 5px rgba(255, 0, 242, 0.7);
    color: black;
}
.text-wenter{
    margin-top: 15px;
    margin-left: -30px;
}
.text-went{
    margin-top: 15px;
    color: rgb(234, 250, 4);
}